# Python
*.pyc
__pycache__/
.coverage
coverage.xml
pythonenv*
venv/
.venv/

# IDE/editor
.idea/
.DS_Store

# Home Assistant runtime
home-assistant.log*
home-assistant_v2.db*
*.db-wal
*.db-shm
.storage/
.env
secrets.yaml

# Custom components you don't want tracked
custom_components/hacs/
custom_components/nordpool/
